.root{
    -fx-font-size: 18px;
}

.gridPane{
    /* -fx-background-color: rgba(0, 0, 0, 0.12); */
}

.lbTemperatureConvert{
    -fx-text-align: center;
    -fx-background-color: rgb(45, 45, 45);
    -fx-text-fill: rgb(255,255,255);
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 20 0 20 0;
}

.btConvertTemperature{
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-text-fill: rgb(255,255,255);
    -fx-background-color: rgb(45,45,45);
    -fx-background-radius: 20 0 20 0;
    -fx-font-weight: bold;
    -fx-transition: 1s;

}

.btConvertTemperature:hover{
    -fx-background-color: rgba(0, 136, 255, 1);
    /* -fx-background-radius: 0 20 0 20; */
}

.lbOutputResult{
    -fx-background-color: rgb(255,255,255);
    -fx-text-aligment: center;
    -fx-padding: 5px;
    /* -fx-border: 2px solid rgba(0,136,255,1); */

    -fx-border-color:rgb(45,45,45) ;
    /* -fx-border-color:rgb(12, 166, 255) ; */
    -fx-border-width: 2; 
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    /* -fx-border-style: segments(10, 15, 15, 15)  line-cap round ; */
}